

<p id="notice"><%= notice %></p>

<h1 align="center">Alle vragen | <%= link_to 'Alle badges', categories_index_path %></center></h1>
<hr>
<br>
<center><%= link_to 'Nieuwe vraag', new_article_path %></center>
<br>

<% @articles.each do |article| %>

<div class="row">

<div class="col-xs-8 col-xs-offset-2">

<div class="well well-lg">

<div class="article-title">

<center><%= link_to article.title, article_path(article) %> </center>

</div>

<div class="article-body">
  
  <center> <%= image_tag article.user.gravatar_url if article.user %> <br><hr> </center>

<%= truncate(article.description, length: 100) %>
  

  
<div class="article-meta-details">

<small>Gevraagd door: <%= article.user.first_name if article.user%>, uit <%= article.user.location if article.user%>,

<%= time_ago_in_words(article.created_at) %> geleden,

voor het laatst gewijzigd: <%= time_ago_in_words(article.updated_at) %> geleden</small>

</div>



</div>

<div class="article-actions"> 

<% if user_signed_in? && (current_user == article.user)%>

<%= link_to "Wijzig deze vraag", edit_article_path(article), class: "btn btn-xs btn-primary" %>

<%= link_to "Verwijder deze vraag", article_path(article), method: :delete,

data: { confirm: "Ben je zeker dat jij deze vraag wilt verwijderen?"},

class: "btn btn-xs btn-danger" %> 

<% end %>

</div>

</div>

</div>

</div>

<% end %>




