<% user = User.find_by_id(params[:id]) %>
<div class="alert alert-info" role="alert">

<br>
  <center> <%= image_tag user.gravatar_url %> </center> <br><hr><br>
  <div class="jumbotron"><h2> Hoi! Ik ben <%= user.first_name %> en 
    ik kom uit <%= user.location %> .<br> </h2>
    <h3>
      Over mij:
    </h3> <br> <%= user.description %></div> 

</div>



<div class="well well-lg">

<div class="container">
  <h2>Badges tot nu:</h2>
  <button type="button" class="btn btn-primary">Taal <span class="badge">7</span></button>
  <button type="button" class="btn btn-success">ICT <span class="badge">3</span></button>    
  <button type="button" class="btn btn-danger"> Sport <span class="badge">5</span></button>        
</div>

</div>

<br>

<div class="alert alert-danger" role="alert">
  
Dit is mijn e-mail: <%= user.email %>
  

</div>



<h3>
  Mijn vragen
</h3>

<div class="jumbotron">
  
<% data = Article.where(:user => user) %>
<% data.each do |data| %>
  <h4><%= data.title %></h4><hr></b>
  <%= data.description %><br><hr>
  <% end %>
  
  
  
  
</div>